{%- if os() == "macos" %}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
Include {{ env.HOME }}/.orbstack/ssh/config

{%- endif %}
Host gitlab.ewi.tudelft.nl
    User git
    IdentityFile {{ env.HOME }}/.ssh/id_ed25519
    IdentitiesOnly yes
    AddKeysToAgent yes

Host cerpacnas nas
    HostName cerpacnas.manatee-python.ts.net
    User root
    Port 22
    IdentityFile {{ env.HOME }}/.ssh/id_ed25519
    IdentitiesOnly yes
    AddKeysToAgent yes
{%- if os() == "macos" %}
    UseKeychain yes
{%- endif %}

Host {{ vars.delftblue_host_alias }}
    HostName {{ vars.delftblue_hostname }}
    User {{ vars.delftblue_netid }}
    Port 22
    IdentityFile {{ env.HOME }}/.ssh/id_ed25519
    IdentitiesOnly yes
    AddKeysToAgent yes
    ServerAliveInterval 30
    ServerAliveCountMax 3
{%- if os() == "macos" %}
    UseKeychain yes
{%- endif %}
    VerifyHostKeyDNS yes

Host driehuisnas
    HostName driehuisnas.manatee-python.ts.net
    User server
