line-length = 120
indent-width = 4
target-version = "py313"

[format]
  line-ending = "lf"
  docstring-code-format = true
  quote-style = "double"
  indent-style = "space"
  skip-magic-trailing-comma = false


[lint]
  select = [ "ALL" ]
  fixable = [ "ALL" ]
  ignore = [
    # Documentation
#    "D",
    "D100", # ignore missing docs
    "D101", # Missing docstring in public class
    "D103", # missing docstring in public function
    "D107", # missing doctsring for __init__
    "D203",
    "D211", # incorrect-blank-line-before-class
    "D413", # Missing blank line after last section ("Returns")
    "RUF002", # Greek symbols

    # Formatter rules
#    "COM812", "ISC001",

    # TODO notes
    "FIX002",  # Ignore TODO, and HACK, but lint FIXME
    "FIX004",  # ^
    "TD001",   # ^
    "TD002",   # Do not ask for TODO's author and issue link
    "TD003",   # ^

    # __init__.py
    "INP001", # missing docstring in public module

    # Controversial
#    "SIM118",  # `key in dict.keys()` is better than `key in dict`
#    "ANN101",  # self doesn't need type annotation
    "T201",     # `print` is allowed
                # Yeah it's bad in finished products, but in most scripts and
                # while debugging it's really annoying
    "RET503",   # add an explicit return statement
#    "RET504",   # Naming result before returning can improve readability

    # My old ones (Misc)
#    "I001", # Optimize imports (clashes with JetBrains)
#    "Q000", # double quotation marks
    "N803", # capitalized variable names
    "N806", # capitalized variable names
    "S301", # pickle unsave warning
    "TRY003", # Avoid specifying long messages outside the exception class
    "ERA001", # Found commented-out codeRuff
#    "W293", # Blank line contains whitespace
    "PGH003", # Use specific rule codes when ignoring type issues
    #    "COM812", # Conflicts with formatter (trailing comma)
    "PLR0913", # too many arguments in function call
    "C901", # too complex function
    "N802", # function name should be lowercase
    "RUF003", # Weird unicode symbols
  ]

  # Allow unused variables when underscore-prefixed.
    dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".idea",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "__init__.py",
]

[lint.isort]
  force-sort-within-sections = false

[lint.flake8-bugbear]
  extend-immutable-calls = ["fastapi.Depends", "fastapi.Query", "fastapi.params.Query"]

[lint.flake8-builtins]
  builtins-ignorelist = ["id"]

[lint.flake8-quotes]
  avoid-escape = false

[lint.per-file-ignores]
  "tests/**/*.py" = [
    "S101",    # Asserts are necessary in tests
    "PLR2004", # Magic values are useful in tests
  ]
  "tests/**/test_bench_*.py" = [
    "ANN001",  # Allows usage of benchmark fixture
  ]

