encryption = "age"

[edit]
command = "nvim"

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipient = "age16mrxfeq3zakzysefnlf3a95qpy9apzl22mhg2er6sg5pergax3zq40vln7"

[git]
autoCommit = true
autoPush = false

[unimportant]

[data]
name = "Ezra Cerpac"
email = "47384389+EzraCerpac@users.noreply.github.com"
profile = "{{ if contains "cerpacnas" (lower .chezmoi.hostname) }}nas{{ else }}workstation{{ end }}"

[data.nas]
host_alias = "nas"
dotfiles_branch = "dev"
jj_waltz_version = "0.3.1"
jj_waltz_sha256 = "d175a4922264c32378f538ed7b6382028df68ecd2eaec564e4db75e2361ae2f8"

[data.delftblue]
netid = "ecerpac"
host_alias = "delftblue"
hostname = "login.delftblue.tudelft.nl"
module_stack = "2025"
slurm_account = "education-eemcs-msc-cosse"
default_cpu_partition = "compute-p2"
default_gpu_partition = "gpu-a100-small"
project_storage_root = ""

[diff]
pager = "delta"
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[merge]  # NOTE: may need to use custom pycharm-merge tool instead (untested)
command = "pycharm"
args = [
  "merge",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }}
]

[template]
options = ["missingkey=error"]
