[edit]
command = "nvim"

[git]
autoCommit = true
autoPush = true

[data]
readd_paths = [
  {{ printf "%q" (joinPath .chezmoi.homeDir ".config/nvim/spell/") }},
]

[hooks.apply.pre]
command = "chezmoi"
args = [
  "re-add",
  {{- range $i, $p := .data.readd_paths -}}
  {{- if $i}}, {{ end -}}
  {{ $p }}
  {{- end -}}
]

[data]
name = "Ezra Cerpac"
email = "e.cerpac@icloud.com"

[diff]
pager = "delta"
exclude = ["scripts"]

[merge]  # NOTE: may need to use custom pycharm-merge tool instead (untested)
command = "pycharm"
args = [
  "merge",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }}
]

[template]
options = ["missingkey=error"]

