[edit]
command = "nvim"

[git]
autoCommit = true
autoPush = false

[unimportant]

[data]
name = "Ezra Cerpac"
email = "e.cerpac@icloud.com"
profile = "workstation"

[data.delftblue]
netid = "ecerpac"
host_alias = "delftblue"
hostname = "login.delftblue.tudelft.nl"
module_stack = "2025"
slurm_account = "education-eemcs-msc-cosse"
default_cpu_partition = "compute-p2"
default_gpu_partition = "gpu-a100-small"
project_storage_root = ""

[diff]
pager = "delta"
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[merge]  # NOTE: may need to use custom pycharm-merge tool instead (untested)
command = "pycharm"
args = [
  "merge",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }}
]

[template]
options = ["missingkey=error"]
