version = 1

[host]
ssh_alias = "{{ .nas.host_alias }}"
remote_home = "/root"
remote_project_root = "/root/Projects"
dotfiles_branch = "{{ .nas.dotfiles_branch }}"

[projects.thesis]
repo = "https://github.com/EzraCerpac/master-thesis.git"
{{- if eq .profile "nas" }}
local_path = "/root/Projects/Thesis/ezra-cerpac"
{{- else }}
local_path = "{{ .chezmoi.homeDir }}/Projects/Thesis/ezra-cerpac"
{{- end }}
remote_path = "/root/Projects/Thesis/ezra-cerpac"
remote_name = "github"
{{- if eq .profile "nas" }}
rules_file = "/root/.config/cerpacnas/project-rules/thesis.AGENTS.md"
{{- else }}
rules_file = "{{ .chezmoi.homeDir }}/.config/cerpacnas/project-rules/thesis.AGENTS.md"
{{- end }}

[projects.thesis.artifacts.data]
path = "data"

[projects.thesis.artifacts.output]
path = "code/out"

[projects.jj-waltz]
repo = "https://github.com/EzraCerpac/jj-waltz.git"
{{- if eq .profile "nas" }}
local_path = "/root/Projects/jj-waltz"
{{- else }}
local_path = "{{ .chezmoi.homeDir }}/Projects/jj-waltz"
{{- end }}
remote_path = "/root/Projects/jj-waltz"
remote_name = "origin"
{{- if eq .profile "nas" }}
rules_file = "/root/.config/cerpacnas/project-rules/jj-waltz.AGENTS.md"
{{- else }}
rules_file = "{{ .chezmoi.homeDir }}/.config/cerpacnas/project-rules/jj-waltz.AGENTS.md"
{{- end }}
