version = 1

[host]
ssh_alias = "{{ vars.nas_host_alias }}"
remote_home = "/root"
remote_project_root = "/root/Projects"
dotfiles_branch = "{{ vars.nas_dotfiles_branch }}"

[projects.thesis]
repo = "https://github.com/EzraCerpac/master-thesis.git"
{%- if vars.profile == "nas" %}
local_path = "/root/Projects/Thesis/ezra-cerpac"
{%- else %}
local_path = "{{ env.HOME }}/Projects/Thesis/ezra-cerpac"
{%- endif %}
remote_path = "/root/Projects/Thesis/ezra-cerpac"
remote_name = "github"
{%- if vars.profile == "nas" %}
rules_file = "/root/.config/cerpacnas/project-rules/thesis.AGENTS.md"
{%- else %}
rules_file = "{{ env.HOME }}/.config/cerpacnas/project-rules/thesis.AGENTS.md"
{%- endif %}

[projects.thesis.artifacts.data]
path = "data"

[projects.thesis.artifacts.output]
path = "code/out"

[projects.jj-waltz]
repo = "https://github.com/EzraCerpac/jj-waltz.git"
{%- if vars.profile == "nas" %}
local_path = "/root/Projects/jj-waltz"
{%- else %}
local_path = "{{ env.HOME }}/Projects/jj-waltz"
{%- endif %}
remote_path = "/root/Projects/jj-waltz"
remote_name = "origin"
{%- if vars.profile == "nas" %}
rules_file = "/root/.config/cerpacnas/project-rules/jj-waltz.AGENTS.md"
{%- else %}
rules_file = "{{ env.HOME }}/.config/cerpacnas/project-rules/jj-waltz.AGENTS.md"
{%- endif %}
