"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Ezra Cerpac"
email = "e.cerpac@icloud.com"

[ui]
default-command = "log"
paginate = "never"
editor = "nvim"
merge-editor = "nvim"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[git]
auto-local-bookmark = true
private-commits = "description(glob:'private:*') | description(glob:'private-*:*')"

[snapshot]
max-new-file-size = "1MiB"  # Default