"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Ezra Cerpac"
email = "e.cerpac@icloud.com"

[ui]
default-command = "log"
paginate = "never"
editor = "nvim +startinsert"
merge-editor = "pycharm"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[template-aliases]
"format_short_signature(signature)"= "signature.email().local()"

[git]
auto-local-bookmark = true
private-commits = "description(glob:'private:*') | description(glob:'private-*:*')"

[snapshot]
max-new-file-size = "1MiB"  # Default

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

[merge-tools.pycharm]
program = "pycharm-merge"
merge-args = ["$left", "$right", "$base", "$output"]
merge-tool-edits-conflict-markers = true

[merge-tools.test]
program = "echo"
merge-args = ["$left", "$right", "$base", "$output"]
merge-tool-edits-conflict-markers = true

[revset-aliases]
# Like Git's HEAD~n: look back n parents from the current change
"p(n)" = "roots(@ | ancestors(@-, n))"
# Default showing more (n)
"default(n)" = "present(@) | ancestors(immutable_heads().., n) | present(trunk())"
# All changes authored by you
"mine()" = "author_email(exact-i:\"e.cerpac@icloud.com\")"
# Get all WIP or TODO changes based on description pattern
"wip" = "description(regex:\"^[(wip|WIP|todo|TODO)]|(wip|WIP|todo|TODO):?\")"
# All changes with 'Bug XXXXX' in subject (find heads/roots as below)
"bug_all(x)" = "mutable() & subject(glob:\"Bug *\") & subject(x)"
"bug(x)" = "heads(bug_all(x))"
"bug_root(x)" = "roots(bug_all(x))"
# Notes and connected history
"just_notes()" = "subject(substring:\"NOTE:\")"
"my_notes()" = "connected(mine() & just_notes())"
"notes()" = "present(@) | just_notes() | just_notes()-"
