spack:
  specs:
    - neovim
    - ripgrep
    - fd
    - fzf
    - tmux
    - bat
    - jq
    - git-delta
    - gh
    - jujutsu
    - lazygit
    - gitui
    - go
    - lua-language-server
    - stylua
    - shfmt
    - shellcheck
    - texlab
    - tinymist
    - typst
